<div class="wrapper">
    <div class="section-registro">
        <div class="header-registro">
            <div class="row">
                <div class="col-12" style="text-align: center;">
                    <h1 class="title-registro">{{titulo}}</h1>
                </div>
            </div>
        </div>
        
        <div class="body-registro">
            <div class="container">
                <form [formGroup]="materiaForm" (ngSubmit)="registrar()">
                    
                    <div class="row">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>NRC</mat-label>
                                <input matInput formControlName="nrc" placeholder="Ej. 12345" maxlength="5" (keypress)="soloNumeros($event)">
                                <mat-error *ngIf="f['nrc'].hasError('required')">El NRC es obligatorio</mat-error>
                                <mat-error *ngIf="f['nrc'].hasError('pattern')">Solo se aceptan números</mat-error>
                                <mat-error *ngIf="f['nrc'].hasError('minlength')">Debe tener 5 dígitos</mat-error>
                                <mat-error *ngIf="f['nrc'].hasError('duplicate')">El NRC ya existe</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Nombre de la Materia</mat-label>
                                <input matInput formControlName="nombre" placeholder="Ej. Ingeniería de Software" (keypress)="soloLetras($event)">
                                <mat-error *ngIf="f['nombre'].hasError('required')">El nombre es obligatorio</mat-error>
                                <mat-error *ngIf="f['nombre'].hasError('pattern')">Solo letras y espacios</mat-error>
                            </mat-form-field>
                    </div>

                    <div class="row">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Sección</mat-label>
                                <input matInput formControlName="seccion" placeholder="Ej. 001" maxlength="3" (keypress)="soloNumeros($event)">
                                <mat-error *ngIf="f['seccion'].hasError('required')">Requerido</mat-error>
                                <mat-error *ngIf="f['seccion'].hasError('pattern')">Solo números</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Créditos</mat-label>
                                <input matInput formControlName="creditos" placeholder="Ej. 6" maxlength="2" (keypress)="soloNumeros($event)">
                                <mat-error *ngIf="f['creditos'].hasError('required')">Requerido</mat-error>
                                <mat-error *ngIf="f['creditos'].hasError('pattern')">Solo números</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Salón</mat-label>
                                <input matInput formControlName="salon" placeholder="Ej. CC4 101" maxlength="15" (keypress)="alfaNumerico($event)">
                                <mat-error *ngIf="f['salon'].hasError('required')">Requerido</mat-error>
                                <mat-error *ngIf="f['salon'].hasError('pattern')">Solo caracteres alfanuméricos</mat-error>
                            </mat-form-field>
                    </div>

                    <div class="row">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Programa Educativo</mat-label>
                                <mat-select formControlName="programa_educativo">
                                    <mat-option *ngFor="let prog of programas" [value]="prog">{{prog}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="f['programa_educativo'].hasError('required')">Seleccione una opción</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Profesor Asignado</mat-label>
                                <mat-select formControlName="profesor_id">
                                    <mat-option *ngFor="let maestro of lista_maestros" [value]="maestro.id">
                                        {{maestro.nombre_completo}} (ID: {{maestro.id_trabajador}})
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="f['profesor_id'].hasError('required')">Seleccione un profesor</mat-error>
                            </mat-form-field>
                    </div>

                    <div class="row">
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Días</mat-label>
                                <mat-select formControlName="dias" multiple>
                                    <mat-option *ngFor="let dia of dias_semana" [value]="dia">{{dia}}</mat-option>
                                </mat-select>
                                <mat-error *ngIf="f['dias'].hasError('required')">Seleccione al menos un día</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Hora Inicio</mat-label>
                                <input matInput [ngxMatTimepicker]="pickerInicio" placeholder="10:00" 
                                       formControlName="hora_inicio" [format]="24" readonly>
                                <mat-icon matSuffix (click)="pickerInicio.open()">watch_later</mat-icon>
                                <ngx-mat-timepicker #pickerInicio></ngx-mat-timepicker>
                                <mat-error *ngIf="f['hora_inicio'].hasError('required')">Requerido</mat-error>
                            </mat-form-field>
                            <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Hora Fin</mat-label>
                                <input matInput [ngxMatTimepicker]="pickerFin" placeholder="12:00" 
                                       formControlName="hora_fin" [format]="24" readonly>
                                <mat-icon matSuffix (click)="pickerFin.open()">watch_later</mat-icon>
                                <ngx-mat-timepicker #pickerFin></ngx-mat-timepicker>
                                <mat-error *ngIf="f['hora_fin'].hasError('required')">Requerido</mat-error>
                            </mat-form-field>
                    </div>
                    
                    <div class="row" *ngIf="materiaForm.hasError('horarioInvalido') && (f['hora_inicio'].touched || f['hora_fin'].touched)">
                            <div class="alert alert-danger">
                                <mat-icon style="vertical-align: middle; font-size: 20px;">error</mat-icon>
                                <strong> Horario Inválido:</strong> La hora de inicio debe ser menor a la hora de finalización.
                            </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <button mat-flat-button color="warn" type="button" (click)="regresar()">Cancelar</button>
                        </div>
                        <div class="col-6">
                            <button mat-flat-button color="primary" type="submit">{{editar ? 'Actualizar' : 'Registrar'}}</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

